node_modules/
output/
build/
dist/
lib/
deploy/
docs/lockup-ui/
.DS_Store
*~
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.css
*.css.map
#vercel
.vercel
!node_modules 
 !.vercel 
 */.vercel/project.json 
 */.vercel/README.txt
